:root {
    --backgroundColor: #254F22;
    --textColor: #000000;
    --primaryColor: #A03A13;
    --secondaryColor: #F5824A;
    --borderColor : #CCCCCC;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 16px;
    transition: background-color 0.5s ease, color 0.5s ease; 
}

body.darkMode {
    --backgroundColor: #121212;
    --textColor: #FFFFFF;
    --primaryColor: #8b3fe9;
    --secondaryColor: #024942;
    --linksColor: #1E90FF;
}

body.darkMode a {
    color: var(--linksColor);
}

button, section, header, footer {
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: var(--secondaryColor);
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--primaryColor);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 5px;
    font-size: 1rem;
}

button:active {
    transform: scale(0.95);
}

section {
    padding: 40px;
    margin: 20px;
    border: 1px solid var(--borderColor);
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--secondaryColor);
    border-top: 1px solid var(--borderColor);
    font-size: 0.9rem;
}

#scrollUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 100;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    padding: 15px;
}

li {
    list-style-type: none;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0;
}

#progressContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: transparent;
    z-index: 100;
}

#progressBar {
    height: 100%;
    background-color: var(--secondaryColor);
    width: 0%; /* Empieza en 0, Javascript lo modifica */
    transition: width 0.2s ease-out;
}